.card-container{
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 350px;
    background: rgb(70, 70, 240);
    border: 1px solid transparent;
    border-radius: 5px;
    align-items: center;
    padding: 20px;
}