body{
    width: 100vw;
    height: 100vh;
    background: #bfbfbf;
    #app{
        height: 100%;
        display: flex;
        width: 100%;
        .content{
            display: flex;
            width: 100%;
            padding: 20px 60px;
            flex-wrap: wrap;
            .box{
                display: flex;
                width: 100%;
                justify-content: space-between;
                .right-block{
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    .workers{
                        margin-bottom: 20px;
                    .worker{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        background: white;
                        padding: 10px;
                    }
                }
                    .vac{
                        padding: 10px;
                        background: white;
                    }
                }
            }
            .card{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 40%;
                max-height: 250px;
                max-width: 350px;
                background: white;
                margin: 0 10px;
                border-radius: 5px;
                padding: 20px 20px;
                &.links{
                    justify-content: initial;
                }
                
                .title{
                    color: black;
                    font-weight: bold;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                }
                .subtitle{
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 0;
                    border-top: 1px solid gray;
                    &:first-child{
                        border-top: none;
                    }
                    .label{
                        color: rgb(185, 185, 185);
                    }
                    &.links{
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        .link{
                            cursor: pointer;
                            
                            color: lightseagreen;
                            &.search{
                                font-size: 19px;
                            }
                            &.vac{
                                font-size: 18px;
                            }
                            &.lk{
                                margin-top: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}