.personal-area{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
    .left{
        margin-left: 10px;
        width: 49%;
    }
    .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 10px;
        width: 49%;
    }
    .block{
        display: flex;
        flex-direction: column;
        padding: 20px;
        background: white;
        box-shadow: 0 0 10px lightgray;
        .title{
            font-size: 25px;
        }
    }
}